
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

html{
	height:100%;
	width:100%;
}
body {
font: normal normal 14px/16px "Open Sans", sans-serif;
height:100%;

}

div.row{
	background: #cfe2ff;
	margin-left:0;
	margin-right:0;
}

footer{
	padding:30px 0;
	width: 100%;
	height:80px;
	background-color: #cfe2ff;
}

.container-fluid{
	background: #cfe2ff;
padding: 0 !important;
margin-top: 40px;
background: white;
border-radius: 5px;}

form {
display: inline-block;
}

.input-text{
	width: 200px;
padding: 8px 25px 8px 5px;
border:1px solid pink;
border-right:none;
border-top-right-radius: 0px 0px;
border-bottom-right-radius: 0px 0px;
}

.input-text:focus{
	outline:none;
}

.navbar{
	background-color:#cfe2ff;
	color:#fc999b;
	
	
}

h3{	background-color:#cfe2ff;
	animation: navbar 1s ease-in-out;
}

@keyframes navbar{
	0%{margin-left:24px;
	
	}

	100%{
		margin-left:0px;
	}
}

/* .dropped-to-div{
	width:400px;
	height: 400px;
}
.broom{ */
	/* display:none; */
/* } */
/* .button-flip{
	transform:translate(10px, 10px);
} */


.button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 8px 18px;
border:none;
outline: 1px solid pink;
}

div.modal-header{
	background-color:#cfe2ff;
}


div.button-add{
	width:200px;
border-top-right-radius: 0px 0px;
border-bottom-right-radius: 0px 0px;
}

div.clear-input{
	
border-top-left-radius: 0px 0px;
border-bottom-left-radius: 0px 0px;
border-left: 1px solid #fff;
}

.clear-ul{
	border-top-left-radius: 0px 0px;
border-bottom-left-radius: 0px 0px;
}

.button:focus{
	outline:2px solid pink;
}

.material-symbols-outlined{
	font-size:0.9em;
}
input.save-edits{
	border:none;
	display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
/* width: 40%; */

}
.new-list{
	margin-bottom:16px;
	background: #cfe2ff;
	position: relative;
}
input.save-edits:hover{
	cursor: pointer;
	opacity: .8;
}
.button2{
	display: inline-block;
}
.button2:hover{
	cursor: pointer;
	opacity: .8;}
.button:hover{
cursor: pointer;
opacity: .8;}
/* .new-list:hover{ */
	/* cursor: pointer; */
	/* opacity: .8; */
/* } */

ol {padding-left: 20px;}

ol li {padding: 10px 5px;color:#000;}

ol li:first-child{padding-top: 14px}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li{
	word-wrap: break-word;
}

li:hover{
  cursor: pointer;
 }
{
	/* margin-left:20px; */
	/* border: 1px solid black;
	color: #FFF;
	font-weight: bold;
	padding:5px; */
 }

 .ui-widget-header,.ui-state-default, .ui-button{
	outline:none;
	background:#fc999b;
	padding:5px;
	border: 1px solid white;
	color: #fff;
	font-weight: bold;
 }

 button.ui-dialog-titlebar-close{
	color:white;
	width:18px;
	height:18px;
 }
 .dialog-paragraph{
	background-color: white;
	padding:10px 20px;
 }

#dialog{
	
	display:none;
	/* width: 200px;
	height: 100px;
	background-color: pink;
	color: white; */
	/* position: fixed; */
	/* top: 50%; */
	/* margin: 0 auto; */
}
.delete {
	display: none;
}

.list-title:focus{
	outline:2px solid pink;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
	cursor: pointer;
}
div > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
	cursor: pointer;
}


.new-list > crossOutButtonList{
	position:absolute;
	top:-12%;
	left:49%;
	background: none;
	border: none;
	color: #025f70;
	font-weight: 800;
	cursor: pointer;
}

.add-list{
	margin-top: 16px;
	margin-bottom: 16px;
}

.update{
	margin-bottom:0px;
}

@media screen and (max-width:275px){
	button.accordion-button.collapsed, .update, button.accordion-button, div.accordion-body{
		font-size:14px;
	}

	div.container-fluid{
		margin-top:8px;
	}
	.list-title{
		font-size:16px;
	}
	.navbar > h3, .h3 > small{
		font-size: 18px;
	}

	nav.navbar{
		position:static;
	}

	div.add-list{
		font-size:14px;
	}

	div.button-add{
		font-size:10px;
		width:70%;
	}
	input.save-edits{
		width: 100%;
		font-size:10px;
	}
	div.clear-ul{
		border-radius:5px;
		font-size:10px;
	}
	input.input-text{
		width:100%;
	}
	div.clear-input{
		width:85%;
		font-size:10px;
		border:none;
		margin-top: 10px;
		border-top-left-radius:5px 5px;
		border-bottom-left-radius:5px 5px;
	}
}

@media screen and (min-width:276px) (max-width:320px){
	div.add-list{
		width:90%;
	}
	input.save-edits{
		width: 80%;
		font-size:12px;
	}
	div.button-add{
		width:60%;
		font-size:10px;
	}
	div.clear-ul{
		border-radius:5px;
		font-size:10px;
	}
	div.clear-input{
		border-radius:5px;
		border-left:1px solid pink;
		font-size:10px;
		width:100%;
	}
	input.input-text{
		width:194px;
		padding: 2px 25px 6px 5px;
		font-size:10px;
	}

	.list-title{
		font-size:10px;
	}

	.update{
		font-size:10px;
	}
}

